<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
         <servlet-name>first</servlet-name>
         <servlet-class>com.Application.DoctorRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>first</servlet-name>
         <url-pattern>/doctor_registration</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
         <servlet-name>second</servlet-name>
         <servlet-class>com.Application.DoctorLogin</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>second</servlet-name>
         <url-pattern>/doctor_login</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
         <servlet-name>third</servlet-name>
         <servlet-class>com.Application.PatientRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>third</servlet-name>
         <url-pattern>/patient_registration</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
         <servlet-name>fourth</servlet-name>
         <servlet-class>com.Application.PatientLogin</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>fourth</servlet-name>
         <url-pattern>/patient_login</url-pattern>
    </servlet-mapping>
</web-app>